$primary-color: #ffffff;

@mixin iconSetup($icon-url) {
  width: 50px;
  height: 50px;
  margin: auto;
  background-image: url($icon-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.navigation {
  background-color: $primary-color;
  border: 1px solid #dddddd;
  height: 9%;
  width: 100%;
  display: flex;

  position: fixed;
  bottom: 0;
  .disabled {
    color: #999999;
  }
  &__link {
    display: flex;
    &.feed {
      transform: scale(1);
      transform-style: preserve-3d;
      @include iconSetup("./utils/icons/globo-icon.svg");
      &::after {
        content: "";
        display: block;
        width: 100%;
        background-color: #fff;
        transform: scaleX(1.9) scaleY(1.4) translateZ(-1px);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border: 1px solid #ddd;
      }
    }
    &.g1 {
      @include iconSetup("./utils/icons/g1-icon.svg");
    }
    &.ge {
      @include iconSetup("./utils/icons/ge-icon.svg");
    }

    &.gshow {
      @include iconSetup("./utils/icons/gshow-icon.svg");
    }
    &.globoplay {
      @include iconSetup("./utils/icons/globoplay-icon.svg");
    }
  }
}
